a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #eee;
    font-family: microsoft yahei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 2px;
}
.page-btn,.current-btn{
    width:38px;
    max-width: 68px;
    height:28px;
    line-height: 28px;
    text-align: center;
    margin: 0 4px;
}
.page-btn{
    color:#222;
    background-color: #f3f3f3;
}
.page-btn:hover{
    background-color: #00b4f5;
    color:#fff;
}
.offset-btn:hover{
    background-color: #00b4f5;
    color:#fff;
}
.current-btn{
    background-color: #00b4f5;
    color:#fff;
}
.offset-btn{
    width:68px;
    height:28px;
    line-height: 28px;
    text-align: center;
    margin: 0 4px;
    color:#000;
    background-color: #f3f3f3;
}

.n-current-btn{
    width:38px;
    max-width: 68px;
    height:28px;
    line-height: 28px;
    text-align: center;
    margin: 0 4px;
    background-color: red;
    color:blue;
}